
<div id = 'question_section'>
      <section class="chooseModuleSection">
      <div class="dTab"></div>
        <div class="chooseModule mathSingle">
          <div class="chooseMHeader">Credits Remaining: <%= @credit %> <!-- <a class="exportExcel">Export to Excel</a> -->
            <div class="labelsRight">
            </div>
            <div class="selectModuleDrop" >

            </div>
            <div class = 'table_wide'>
            <div class="dataTable">
              <%= render "data_table" %>
            </div>
            </div>
            <div class = 'table_narrow_two'><%= render "data_table_narrow" %></div>
          </div>
        </div>
      </section>

</div>
