<section>
<div class="whitePopUpSignIn forgot_password_reset" style="position:fixed; margin-left: 33%; margin-top: 5%; margin-left: 33%; margin-top: 5%;"> 
        
       <%= form_tag student_reset_password_path,:method=>"post",:class=>"reset_new" do %>
        <div id="reset-password-error" style="color:red;color:red;font-size:13px;font-weight: bold;"></div>
         
          <p>
            <label style="text-align: right; margin-left: -10px;">New Password</label>
            <%=password_field_tag 'password',class: "i1", placeholder: "*",style:"margin-left: 10px;"%>
          </p>
          <p class="label">
            <label></label>
            <span>enter password</span>
          </p>
          <p>
            <label style="text-align: right; margin-left: -10px;">Confirm Password</label>
            <%= password_field_tag 'confirm_password',placeholder: "*",style:"margin-left: 10px;" %>
          </p>
          <p class="label">
            <label></label>
            <span>reenter password</span>
          </p>
        
         <%=hidden_field_tag "id",params[:id]%>
         <br/>
         <p class="btnPanel">
           <p class="btnPanel"><a href="#" class="yallowBtn reset_new_path padding-set" rel="Log In">reset</a></p>
        
         </p> 
         <br/>
      <% end %>
      
      </div>


      <p class="centerText" style="display:none;">
            <a class="forgetP in popup" rel="forgot_password_reset" href="#" title="Forget Passsword?" id="foofaa">Forget Passsword?</a>
          </p>
  </section>

<script>
$(document).ready(function() {
  $('#foofaa a').trigger('click');
  $(".reset_new_path").click(function(){

      $.ajax( {
        type: "POST",
        url: "/student_reset_password",
        data: $('.reset_new').serialize(),
        success: function( response ) {
          return false;
        }
    });
  });  
});
</script>
