<h1>Activate your account</h1>
 
  <% form_for @student, :url => activate_path(@student.id), :html => { :method => :post } do |f| %>
  	<%= f.error_messages %>
  	<%= f.submit "Activate" %>
  <% end %>
