<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-au" lang="en-au">
<head>
<title>Chalk Board</title>
<script language="javascript" src="/assets/html5.js"></script>
<link rel="stylesheet" href="/assets/style.css" type="text/css" />
<link rel="stylesheet" href="/assets/jquery.mCustomScrollbar.css" />
<link rel="stylesheet" href="/assets/fancySelect.css" />
<meta name="viewport" content="initial-scale=1, maximum-scale=1">
</head>
<body>
<div class="wrapper">
  <div class="pattern"></div>
  <div class="top">
    <div class="topcenter">
      <div class="topLeft">
        <div class="topRight"> </div>
      </div>
    </div>
  </div>
  <div class="center">
    <div class="centerRight">
      <header>
        <nav> <a href="#" title="Chalk Board" rel="Chalk Board" class="logo"></a> <a href="#" title="Contact" rel="contactPopup" class="call popup"></a>
          <div class="whitePopUp contactPopup"> <span class="arrow"></span>
            <p>
              <label>Name:</label>
              <input type="text" value="Test Name" />
            </p>
            <p class="label">
              <label></label>
             </p>
            <p>
              <label>Email:</label>
              <input type="text" value="example@gmail.com" />
            </p>
            <p class="label">
              <label></label>
             </p>
            <textarea></textarea>
            <p class="btnPanel"><a href="#" class="yallowBtn">Send</a><a href="#" class="grayBtn">Reset</a></p>
          </div>
          <a href="#" title="Help" rel="socialPopup" class="hand popup"></a>
          <div class="whitePopUp socialPopup"> <span class="arrow"></span>
            <p><span count="100"></span>
              <input type="image" src="/assets/tweet.jpg" alt="Twitter" title="Twitter" />
            </p>
            <p><span count="80"></span>
              <input type="image" src="/assets/facebook.jpg" alt="FaceBook" title="FaceBook" />
            </p>
            <p><span count="345"></span>
              <input type="image" src="/assets/googleP.jpg" alt="Google Plus" title="Google Plus" />
            </p>
          </div>
          <a href="#" title="Profile" rel="profilePopUp" class="profile popup active"></a>
          <div class="whitePopUp profilePopUp"> <span class="arrow"></span> <a href="#" rel="View / Edit profile" class="editProfile"><span></span>
            <label>View / Edit profile</label>
            </a> <a href="#" rel="sign out" class="signout"><span></span>
            <label>sign out</label>
            </a> </div>
          <a href="#" title="Files" rel="loginPopup" class="in popup"></a>
          <div class="whitePopUp loginPopup"> <span class="arrow"></span>
            <p>
              <label>User Name :</label>
              <input type="text" value="example@gmail.com" />
            </p>
            <p class="label">
              <label></label>
              </p>
            <p>
              <label>Password :</label>
              <input type="password" class="i1" value="*********" />
            </p>
            <p class="label">
              <label></label>
             </p>
            <p class="btnPanel"><a href="#" class="yallowBtn" rel="Log In">Log In</a></p>
            <p class="centerText"><a class="forgetP" href="#" rel="Forget Passsword">Forget Passsword?</a></p>
          </div>
          <a href="#" title="Invite" class="add"></a>
          <div class="whitePopUp invitePopUp"> <span class="arrow"></span>
            <p>
              <label>Nick Name :</label>
              <input type="text" value="bright 12" />
            </p>
            <p class="label">
              <label></label>
              <span>(one word withoutspace)</span></p>
            <p>
              <label>User Name :</label>
              <input type="text" value="example@gmail.com" />
            </p>
            <p class="label">
              <label></label>
             </p>
            <p>
              <label>Password :</label>
              <input type="password" class="i1" value="*********" />
            </p>
            <p class="label">
              <label></label>
            </p>
            <p>
              <label>Reenter Password :</label>
              <input type="password" value="*********" />
            </p>
            <p class="label">
              <label></label>
              </p>
            <p class="customRadio">
              <label></label>
              <span><b class="checked"></b>
              <input type="radio" checked="checked" name="inviteRadio" />
              BJS</span><span><b></b>
              <input type="radio" name="inviteRadio" />
              BGCSE</span></p>
            <p class="btnPanel"><a href="#" class="yallowBtn">Submit</a></p>
          </div>
          <div class="whitePopUp subjectsPopUp"> <span class="arrow"></span> <a href="#" class="eng"><span></span>
            <label>ENGLISH</label>
            </a> <a href="#" class="bio"><span></span>
            <label>Biology</label>
            </a> <a href="#" class="chm"><span></span>
            <label>Chemistry</label>
            </a> <a href="#" class="math"><span></span>
            <label>Mathematics</label>
            </a> <a href="#" class="phy"><span></span>
            <label>Physics</label>
            </a> </div>
          <a href="#" title="Subjects" rel="subjectsPopUp" class="subject popup">Subjects</a> <a title="View & edit profile" class="viewEditProfile active">View & edit profile</a> <a href="#" title="Report Card" rel="reportCardPopUp" class="reportCard popup">Report card</a>
          <div class="whitePopUp reportCardPopUp"> <span class="arrow"></span> <a href="#" rel="quick reports" title="Quick Reports" class="quickReports"><span></span>
            <label>quick reports</label>
            </a> <a rel="module reports" href="#" class="moduleReports" title="Module Reports"><span></span>
            <label>module reports</label>
            </a> <a rel="test reports" href="#" class="testReports" title="Test Reports"><span></span>
            <label>test reports</label>
            </a> </div>
          <span class="username semiBold">User Name</span> </nav>
      </header>
      <div class="popUpConfirm">
        <h5>Do you want to make the changes to your profile</h5>
        <div class="buttonsPopup"><a href="#" class="yesIDo" rel="Yes I do" title="Yes I do">Submit</a> <a href="#" class="GoBack" title="Go Back">Cancel</a></div>
      </div>
      
      <footer><a href="terms" rel="Terms and Conditions" title="Terms and Conditions">T & C</a> | <a href="#" rel="Privacy policy" title="Privacy policy">Privacy policy</a> |242 Chalk Board © 2013</footer>
    </div>
  </div>
  <div class="bottom">
    <div class="bottomcenter">
      <div class="bottomLeft">
        <div class="bottomRight"> </div>
      </div>
    </div>
  </div>
</div>
<script language="javascript" src="/assets/jquery.min.js"></script>
<script src="/assets/jquery.mCustomScrollbar.concat.min.js"></script>
<script language="javascript" src="/assets/script.js"></script>
<script language="javascript" src="/assets/fancySelect.js"></script>
</body>
</html>
</strong>
</h6>
